<div>
	<div ng-bind-html="message"></div>
	<div ng-if="view === 'home'"> 
		<button class="btn btn-primary" ng-click="onClickStart()">	
				Upload Definitions
		</button>
	</div>
	<div ng-if="view === 'navigate'">
		<button class="btn btn-secondary" ng-click="onClickEnd()">	
				Close Upload
		</button>
		<folder-nav ng-if="folderItems.length > 0"></folder-nav>
	</div>
	<div ng-if="view === 'definitions'">
		<button class="btn btn-primary" ng-click="onClickEnd()">	
			Close Definitions
		</button>
		<span class="dropdown">
			<button class="btn dropdown-toggle" style="background-color:#CCCCFF" 
					type="button" id="dropdownMenuButton_DefinitionUpload"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{definitionType}}
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton_DefinitionUpload">
				<a class="dropdown-item"
						ng-repeat="defType in definitionTypes"
						ng-click="onClickDefinitionDropdown(defType)">
					{{defType}}
				</a>
			</div>
		</span>
		<span class="dropdown" ng-if="definitionType === 'Visualizations'">
			<button class="btn dropdown-toggle" style="background-color:#CCCCFF"
					type="button" id="dropdownMenuButton_Visualizations"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{visualizationType}}
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton_Visualizations">
				<a class="dropdown-item" ng-repeat="visType in visualizationTypes">					
					<div ng-click="onClickVisualizationDropdown(visType)">
						{{visType}}
					</div>					
				</a>
			</div>
		</span>
    <button class="btn btn-warning" ng-click="onClickUpdate()">	
			Update {{type}}
		</button>
		<definitions-table items=definitions type="definitionType"></definitions-table>
	</div>
<div>